.toolbar-icon-wrapper {
  padding: 10px;
  text-shadow: 1px 0 #e4e4e4;
  color: transparent;
  box-sizing: border-box;
}

.toolbar-icon-wrapper:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 1px 0 #444;
}

.red {
  color: red
}

.x2 {
  font-size: 200%;
}

.x3 {
  font-size: 300%;
}

.x4 {
  font-size: 400%;
}

.x5 {
  font-size: 500%;
}
