  .cursor-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: none;
    pointer-events: none;
  }

  .cursor-icon {
    position: absolute;
    display: table;
  }
